*
{
    margin: 0;
    padding: 0;
    list-style: none;/*par exemple pour enlever les petits points des listes ul li*/
    text-decoration: none;/*par exemple lorsqu'on fera un href le texte ne sera plus soulignee*/
    font-family: "poppins";
    scroll-behavior: smooth ;
}
h1,
h2,
h3,
h4,
h5,
h6,
button
{
    font-family: "Torus Notched";
}
body
{
    overflow-x: hidden;/*pour que rien de depasse sur l'axe x*/
    max-width: 1920px;
}

/*..HEADER..*/
header
{
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;/*pour que le background de la page passe en dessous du header et non pas au dessus lorsqu'on reduira la fenetre par exple*/

}


header .container
{
    width: 1500px;
    height: 100%;
    margin: 0  auto;
    display: flex;
    flex-direction: row;
    align-items: center;/*on aligne verticalement*/
    justify-content: space-between;
}

header .container .onglet
{
  display: flex;
  align-items: center;
}

header .container ul
{
  display: flex;
}


header .container ul a
{
  font-size: 1.2em;
  font-weight: 500;
  color: #66aefc;
  margin: 0 30px;
}

@media (max-width:1500px)
{
    header
    {
        position: relative;
        background-color: #66aefc;
    }

    header .container
    {
        width: 100%;
    }

    header .container ul a
    {
        color: white;
    }
}

@media (max-width:750px)
{
    header .logo
    {
        display: none;
    }

    header .container
    {
        justify-content: center;/*aligne les elts suivant l'axe principale qui est par defaut horizontale par opposition a align-items*/
    }

    header .container ul a
    {
        margin: 0 10px;
        overflow-x: auto;
    }
}
/*section1*/
@media (min-width:1500px)
{
    .sec1
    {
        height: 100vh;
        width: 100%;
        background-image: url(img/13.png);
        background-repeat: no-repeat;
        background-position: top right;
        padding-bottom: 100px;
    }

    .sec1 .bg-responsive
    {
        display: none;
    }
}

.sec1 .container
{
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;/*pour que l'axe pricipale soit mtn plutot dirigee suivant les y croissant ie descendant et non plus suivant les x; comme ca nos elts se placeront les un apres les autres suivant les y*/
    justify-content: center;/*centre l'elt par rapport a la verticale*/
}

.sec1 h1
{
    color: #31489f;
    font-size: 3cm;
    margin-bottom: 70px;
}
.sec1 button
{
    position: relative;
    height: 70px;
    width: 250px;
    border-radius: 50px;
    border: 3px solid #31489f;
    background-color: white;
    font-size: 1.5em;
    color: #31489f;
    z-index: 2;/*NB: le z-index ne marche que si la position n'est pas "static" (qui est la position par defaut)*/
    transition: 0.3s;
    /*overflow: hidden;*//*pour cacher tout ce qui deborde le bouton*/
}

.sec1 button::before, .sec3 button::before, .sec4 button::before/*pour qu'on est ce qu'on ne te voit pas sur la figure*/
{
    content: "";
    position: absolute;
    
    border-radius: 50px;
    background-color: #31489f;
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    z-index: -1;/* 0 etant la valeur du z-index par defaut, le buuton::before se placera ainsi au dessus du bouton mais en dessous de son contenu*/
    transition: 0.3s;  
}

.sec1 button:hover::before, .sec3 button:hover::before, .sec4 button:hover::before
{
    transform: translate(0%);
    height: 70px;
    width: 280px;
}
.sec1 button:hover
{
    color: white;
    width: 280px;
}

.sec1 button i, .sec3 button i, .sec4 button i
{
    transform: scale(0);/*0 -> on ne voit pas l'elt et 1 -> on le voit*/
    margin: -10px;
    transition: 0.3s;
}

.sec1 button:hover i, .sec3 button:hover i, .sec4 button:hover i
{
    transform: scale(1);
    display: inline;
    margin-left: 10px;
}

@media (max-width: 1500px)/*a partir de 1500px en descendant*/
{
    .sec1 .container
    {
        text-align: center;/*on centre le contenu*/
        justify-content: center;/*alignement % a l'axe horizontale ie l'axe principale*/
        width: 100%;/*il fait 100% de la largeur de l'ecran*/
    }

    .sec1
    {
        height: 100%;
        margin-top: 100px;
    }

    .sec1 .bg-responsive
    {
        margin-top: 50px;
    }

    .sec1 .bg-responsive img
    {
        width: 600px;
    }
}

@media (max-width:950px)
{
    .sec1 h1
    {
        font-size: 6em;
        margin-bottom: 60px;
    }
}

@media (max-width:600px)
{
    .sec1 .bg-responsive img
    {
        width: 80%;
    }

    .sec1 h1
    {
        font-size: 4em;
        margin-bottom: 60px;
    }
}


@media (max-width:500px)
{
    .sec1 h1
    {
        font-size: 3em;
        margin-bottom: 60px;
    }
}

/*..TRANSITION..*/
.transition
{
    position:absolute;
    width: 100%;
    transform: translateY(-30%);
    z-index: 3;
}

.transition img
{
    width: 100%;
    filter: drop-shadow(0 10px 5px #acc4e8);/*pour faire en sorte que l'image de transition brille 5px etant l'intensite de la "surbrilliance" et  #acc4e8 sa couleur*/
}

/*...SECTION2...*/
.sec2
{
    position: relative;
    z-index: 2;
    background-color: #232323;
    padding-top: 120px;
}

.sec2 .container
{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;/*alignement horizontale ie par rapport a l'axe secondaire vu qu'apres le flex-direction:column, l'axe secondaire est devenu horizontale*/
}

.sec2 .title
{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4em;
    position: relative;
    margin-bottom: 100px;
}

.sec2 .title::before
{
    content: "";
    position: absolute;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: #66aefc;
    /*on part sur google, on tape css clipath, on construit le clipath, on copie et on colle son code*/
    /*clip-path: polygon(
        0 0,
        100% 80%,
        80% 35%,
        64% 100%,
        48% 35%,
        31% 100%,
        16% 35%
        0 80%
    );*/
    clip-path: polygon(74% 100%, 58% 73%, 48% 100%, 35% 72%, 26% 100%, 15% 73%, 0 100%, 0 48%, 73% 48%);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


.sec2 h2, .sec2 h1
{
    font-size: 2.5em;
}

.sec2 .content
{
    color: white;
}

.sec2 .content-top .left, .sec2 .content-bottom .right
{
    max-width: 700px;
}
.sec2 .titre
{
    text-transform: uppercase;
    display: flex;
    align-items: center;/*alignement % a l'axe vertivale ie l'axe secondaire*/
}

.sec2 .point
{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-color: #31489f;
    border-radius: 50px;
    border: 3px solid white;
}

.sec2 p
{
    max-width: 600px;
    /*line-break: anywhere;*/
}

.sec2 .separateur
{
    width: 75px;
    height: 7px;
    background-color: #66aefc;
    border-radius: 0px 50px 50px 0px;
}

.sec2 .content
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;/*pour mettre un espace minimum entre les enfants directs*/
}

@media (min-width: 1500px)
{
    .sec2 .content-top .left
    {
        max-width: 700px;
    }
    .sec2 .content-bottom .right
    {
        max-width: 700px;
    }
}

@media (max-width:1500px)
{
    .sec2 .content
    {
        margin: 50px 0;
    }

    .sec2 .content-top
    {
        flex-direction: column;
    }

    .sec2 .content-bottom
    {
        flex-direction: column-reverse;
    }

    .sec2 .container
    {
        width: 100%;
        text-align: center;
    }

    .sec2 p
    {
        max-width: 900px;
        margin: 0 50px;
    }

    .sec2 .content .titre
    {
        justify-content: center;
        flex-direction: column;
    }

    .sec2 .content-top .left, .sec2 .content-bottom .right
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .sec2 .content .separateur
    {
        border-radius: 50px;
    }

    .sec2 .content .point
    {
        margin-right: 0px;
    }

    .sec2 .content img
    {
        width: 90%;
    }
}

/*...SECTION3...*/

.sec3
{
    background-image: url(svg/1.svg);
    background-repeat: no-repeat;
    background-size: cover;/*pour qu'il occupe toute la div*/
    background-position: right;
    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px #000);
    overflow: hidden;
}

.sec3 .container
{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;/*on choisit space-evenly pourqu'il y'ait en plus des marges droite et gauche dde part et d'autre de la section et que les elt s'affiche integralement toujours, contrairement avec space-between ou l'image de droite se coupe(ne s'affiche pas integralement) lorsqu'on reduit la fenete  */
}

.sec3 h1
{
    color: white;
    font-size: 4em;
}

.sec3 p
{
    color: white;
    max-width: 600px;
    margin-bottom: 50px;
}

.sec3 .separateur
{
    width: 75px;
    height: 8px;
    background-color: #66aefc;
    border-radius: 0px 50px 50px 0px;
    margin: 50px 0;
}

.sec3 button, .sec4 button
{
    margin-bottom: 40px;
    position: relative;
    height: 70px;
    width: 220px;
    border-radius: 50px;
    border: 3px solid white;
    background-color: transparent;
    font-size: 1.5em;
    color: white;
    z-index: 2;/*NB: le z-index ne marche que si la position n'est pas "static" (qui est la position par defaut)*/
    transition: 0.3s;
    /*overflow: hidden;*//*pour cacher tout ce qui deborde le bouton*/
}

.sec3 button::before, .sec4 button::before/*pour qu'on est ce qu'on ne te voit pas sur la figure*/
{
    content: "";
    position: absolute;
    
    border-radius: 50px;
    background-color: white;
    top: -2px;
    left: -2px;
    
    transform: translate(-100%);
    z-index: -1;/* 0 etant la valeur du z-index par defaut, le buuton::before se placera ainsi au dessus du bouton mais en dessous de son contenu*/
    transition: 0.3s;  
}


.sec3 button:hover, .sec4 button:hover
{
    color: #31489f;
    width: 280px;
}

.sec3 .right img
    {
        width: 100%;
    }

@media (max-width: 1500px)
{
    .sec3 .right
    {
        max-width: 450px;
        text-align: center;
    }
}

@media (max-width: 1050px)
{
    .sec3
    {
        background-color: #232323;
    }

    .sec3 .container
    {
        flex-direction: column;
        align-items: center;
    }

    .sec3 .left
    {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec3 h1
    {
        font-size: 3em;
    }

    .sec3 .separateur
    {
        border-radius: 50px;
    }

    .sec3 p
    {
        margin: 0 20px;
    }

    .sec3 button
    {
        margin: 50px 0;
    }

    .sec3 .right img
    {
        width: 80%;
    }

    
}

/*...SECTION4...*/

.sec4
{
    position: relative;
    height: 750px;
    background-image: url(svg/2.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;/*pour que ca prenne toute la section*/
    z-index: 2;
    filter: drop-shadow(3px 5px 4px #232323);
}

.sec4 .content
{
    display: flex;
    height: 100%;
    align-items: center;
}

.sec4 .mid p
{
    width: 600px;
    max-width: 600px;
    color: white;
    margin: 50px 0;
}

.sec4 .left img
{
    margin: 0 25px 0 50px;
}

.sec4 h1
{
    font-size: 3em;
    color: white;
}

.sec4 h2
{
    font-size: 2em;
    color: white;
}

.sec4 h1
{
    font-size: 3em;
    color: white;
}

.sec4 .left
{
    margin: 0 100px 0 50px;
}

.sec4 .right
{
    position: relative;/*afin de pouvoir lui donner un left, top, ...*/
    left: -250px;
    top: -240px;
    z-index: -1;
}

@media (max-width: 1250px)
{
    .sec4 .right
    {
        display: none;
    }
}

@media (max-width: 1050px)
{
    .sec4 .content
    {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .sec4 .left
    {
        margin: 0;
    }

    .sec4 .left img
    {
        width: 350px;
    }

    .sec4 .mid
    {
        text-align: center;
        margin-bottom: 35px;
        width: 90%;
    }

    .sec4 .mid p
    {
        margin: 50px auto;
        max-width: 550px;
        color: #000;
        line-break: anywhere;
    }

    .sec4 .mid h1, .sec4 .mid h2
    {
        color: #66adfc;
    }

    .sec4
    {
        filter: none;
    }

    .sec4 button
    {
        border: 3px solid #66aefc;
        color: #66aefc;
    }

    .sec4 button:hover
    {
        color: white;
    }

    .sec4 button::before
    {
        background-color: #66aefc;
    }

    .sec4 img
    {
        filter: drop-shadow(0px 0px 4px #232323);
    }
}


/**PUCE**/
.onglet-side
{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    z-index: 9999;
}


.onglet-side a
{
    height: 12px;
    width: 12px;
    margin:5px 0;
    background-color: white;
    border: 3px solid #66adfc;
    border-radius: 50px;
}

.onglet-side a.active
{
    background-color: #31489f;
}

/*.onglet-side
{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    z-index: 9999;
}


.onglet-side a
{
    height: 12px;
    width: 12px;
    margin:5px 0;
    background-color: white;
    border: 3px solid #66adfc;
    border-radius: 50px;
}*/

.onglet-side a.active, .onglet-side a:focus .active, .onglet-side a:hover .active
{
   background-color: #31489f;
}

@media (max-width:900)
{
    .onglet-side
    {
        display: none;
    }
}